
@import "mixin/_mixins";

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

div{
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  background-color: #fff;

}

a {
  text-decoration: none
}

p {
  font-size: $baseTextSize;
  color: #000;

}

