
.index{
  width: 100%;
}
.hhhhhh{
    width: 111px;
}
.bbb{
    width: 111px;
}
.ccc{
    width: 111px;
}



p{
    background-color: #000;
}

div{
    width: 100px;
    height: 100px;
    background: url("../image/avatar.jpg");
}